# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Node
node_modules/

# React
build/
dist/

# Logs
*.log

# VS Code
.vscode/

# macOS
.DS_Store

# Docker
*.pid

# Database
*.db

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Environment variables
.env.*